/* body{
    text-align: center;
    
}

div {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 700px;
    border: 1px solid black;
    margin: auto;
} */

/* .box{
    height: 100px;
    width: 100px;   
    background-color: pink;
    border: 1px solid black;
} */

.click{
   background-color: purple;
}